[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nob = "*"
requests = "*"
font-hanken-grotesk = "*"
font-fredoka-one = "*"
pillow = "*"
inky = "*"

[dev-packages]

[requires]
python_version = "3.12"
